.LoadingContainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoadingContainer .loadingImg{
    width: calc(100vw / 4);
    border-radius: 50%;
}